<button
  class="btn"
  [ngClass]="{
    'btn-normal': state == states.NORMAL,
    'btn-done': state == states.DONE,
    'btn-loading': state == states.LOADING
  }"
  [disabled]="state !== states.NORMAL"
  (click)="onClick($event)"
>
  <ng-container *ngIf="state == states.NORMAL">
    <span #normal>
      <ng-content select="[normal]"></ng-content> 
    </span>
    <span *ngIf="normal.children.length === 0">Save</span>
  </ng-container>
  <ng-container *ngIf="state == states.LOADING">
    <span #loading><ng-content select="[loading]"></ng-content> </span>
    <span *ngIf="loading.children.length === 0">
      <img class="loader" src="./assets/icons/loader.gif"/>
    </span>
  </ng-container>
  <ng-container *ngIf="state == states.DONE">
    <span #done>
      <ng-content select="[done]"></ng-content>
    </span>
    <span *ngIf="done.children.length === 0">Saved!</span>
  </ng-container>
</button>